<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.statea.dao.ext.ImageDao">
	<insert id="insert" parameterType="ImageVO">
		insert into
		tbl_image(img_code, img_name, img_cncode, img_src)
		values(#{img_code},#{img_name},#{img_cncode},#{img_src})
	</insert>
	<delete id="delete" parameterType="ImageVO">
		delete from tbl_image
		where
		img_code= ?
	</delete>
	<update id="update" parameterType="ImageVO">
		update tbl_image set
		img_src = #{img_src},
		img_name = #{img_name}
		WHERE img_cncode = #{img_cncode}
	</update>
</mapper>