@charset "UTF-8";
*{
	box-sizing: border-box;
	width:0;
}
html,body{
	height: 100%;
	width: 100%;
}
h2 {
	margin-top: 5px;
	text-align: center;
	color:rgb(3, 102, 53);
}
/* 검색창 */
div.ser_title {
	display: flex;
	align-items: center;
	justify-content:center;
}

input#search {
	font-size:15px;
	height: 25px;
	width: 400px;
}

i {
	margin-right: 2px;
	font-size: 25px;
}


a{
	text-decoration: none;
	
}
a:hover{
	cursor: pointer;
}
/* 버튼 */
button {
	padding: 7px 12px;
	background-color: rgb(3, 102, 53);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 5px
}

button:hover {
	padding: 7px 12px;
	background-color: rgb(68, 32, 32);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;	
	box-shadow: 1px 1px 1px gray;
	margin-bottom: 5px;
	
}

button#write {
	margin-left: 80%;
	margin-top: 5px;
	font-size: 12px;
}

button#sear_click {
	font-size: 12px;
	margin-left: 8px;
	margin-top: 5px; 
}
div#list{
	border:1px solid black;
	justify-content: center;
}

div#title{
	border:1px solid black;
}
div#hitid{
	border:1px solid black;
}
div#time{
	border:1px solid black;
}

